body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grandParent {
    /* width: 200px; */
    background-color: rgb(33, 219, 33);
}

#parent {
    background-color: red;
}

#child {
    background-color: blue;
}

.box {
    border: 1px solid black;
    padding: 40px;
}